<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thank you for your interest in Airlift, <%= @user.full_name %>!</h1>
    <p>
      Unfortunately, we were not able to process your request. Feel free to try
      again in 30 days.
    </p>

    <p>Thank you</p>
  </body>
</html>
