<div class='contact-title'>
<h1>Contact Us</h1>

<h2>Airlift, Inc.</h2>
</div>
<div class="contact-us">
<p>
  Location:

    1510 Blake St.
    Denver, CO 80230
</p>
<p>
  E-mail:

    airlift@example.com
</p>

<p>
  Phone:

    (303)-366-8988
</p>
</div>
