<h2>Airlift Privacy Policy</h2>

  <p>Effective from 1 July 2012</p>

  <p><%= link_to "www.airlift.com", root_path %> and its related sites including, without limitation <a href="http://api.airlift.org/">api.airlift.org</a> (together the
  "<strong>Website</strong>") is a site operated by Randomness and Integrity Services
  Limited ("<strong>we</strong>" or "<strong>us</strong>" or "<strong>the Company</strong>"). We are registered in
  Ireland under company number 489434 and have our registered office
  at Unit 20, 2 Waterloo Road, Dublin 4, Ireland. We are a limited
  company. </p>

  <p>We are committed to protecting your privacy. Our website Privacy
  Statement sets out what information we collect, how we collect it,
  what we do with it and how we protect this information.</p>

  <h3>INFORMATION WE MAY COLLECT FROM YOU</h3>

  <p>In order to process each subscription to our website, we collect
  personal details from you. These details may include (where
  applicable) names, addresses telephone numbers, e-mail and IP
  addresses, credit/debit card or other payment details. We also store
  all information which you may submit to us in respect of any
  services provided on the Website, which information may include
  personal information</p>

  <h3>USES MADE OF THE INFORMATION</h3>

  <p>We use information held about you in the following ways:</p>

  <ul class="spacious">

    <li>To ensure that content from our site is presented in the most effective manner for you and for your computer. </li>

    <li>To provide you with information, products or services that you request from us or which we feel may interest you, where you have consented to be contacted for such purposes. </li>

    <li>To carry out our obligations arising from any contracts entered into between you and us.</li>

    <li>To allow you to participate in interactive features of our service, when you choose to do so.</li>

    <li>To notify you about changes to our service.</li>

  </ul>

  <p>Where you have consented, we may also use your data, or permit
  selected third parties to use your data, to provide you with
  information about goods and services which may be of interest to you
  and we or they may contact you about these by electronic means. </p>

  <p>If you do not want us to use your data in this way, or to pass
  your details on to third parties for marketing purposes, please tick
  the relevant box situated on the form on which we collect your
  data.</p>

  <p>We may also disclose your information to contracted companies who
  act as "data processors" on our behalf, or with your agreement to
  ancillary service providers such as credit card providers.</p>

  <p>We follow strict security procedures in the storage and
  disclosure of information. Our security procedures require that we
  request proof of identity before we disclose sensitive
  information.</p>

  <h3>IP ADDRESSES</h3>

  <p>We may collect information about your computer, including where
  available your IP address, operating system and browser type, for
  system administration and to report aggregate information to our
  advertisers. This is statistical data about our users' browsing
  actions and patterns, and does not identify any individual.</p>

  <h3>DIRECT MARKETING MATERIAL</h3> <p>From time to time we may
  contact you with information regarding promotions, competitions and
  ancillary products via email. However, you will have the choice to
  opt in or out of receiving such communications by so indicating on
  the Website. You will also be given the opportunity on every
  e-communication that we send you to indicate that you no longer wish
  to receive our direct marketing material.</p>

  <h3>SITE TRACKING</h3>

  <p>We use tracking software to monitor customer traffic patterns and
  site usage to help us develop the design and layout of the
  websites. This software does not enable us to capture any personal
  information.</p>

  <h3>COOKIES</h3>

  <p>This site uses cookies to enable us to improve our service to you
  and to provide certain features that you may find useful. Cookies
  are small text files that are transferred to your computer's hard
  drive through your web browser to enable us to recognise your
  browser and help us to track visitors to our site; thus enabling us
  to understand better the products and services that will be most
  suitable to you. A cookie contains your contact information and
  information to allow us to identify your computer when you travel
  around our site. Most Web browsers automatically accept cookies,
  but, if you wish, you can set your browser to prevent it from
  accepting cookies. The "help" portion of the toolbar on most
  browsers will tell you how to prevent your browser from accepting
  new cookies, how to have the browser notify you when you receive a
  new cookie, or how to disable cookies altogether. The cookies we use
  do not detect any information stored on your computers.</p>

  <h3>LINKS TO THIRD PARTY WEBSITES</h3>

  <p>This privacy statement only covers websites that we own and
  control. It does not cover links to other websites and accordingly
  any information collected by those parties that own and control
  those websites or their use of cookies. Please be aware that
  individual organizations operate their own policies regarding the
  use and sale of personal information and the use of cookies. If you
  have a concern regarding the way your personal information will be
  used on other sites then you are advised to read the relevant
  privacy statement or in the absence of such a statement on the site,
  contact the company concerned. Any data stored by third party
  websites are stored completely separately by third party. </p>

  <h3>WHERE WE STORE YOUR PERSONAL DATA</h3>

  <p>The data that we collect from you may be transferred to, and
  stored at, a destination outside the European Economic Area
  ("EEA"). It may also be processed by staff operating outside the EEA
  who work for us or for one of our suppliers. Such staff maybe
  engaged in, among other things, the fulfilment of your order, the
  processing of your payment details and the provision of support
  services. By submitting your personal data, you agree to this
  transfer, storing or processing. We will take all steps reasonably
  necessary to ensure that your data is treated securely and in
  accordance with this privacy policy.</p>

  <p>Where we have given you (or where you have chosen) a password
  which enables you to access certain parts of our site, you are
  responsible for keeping this password confidential. We ask you not
  to share a password with anyone.</p>

  <p>Unfortunately, the transmission of information via the internet
  is not completely secure. Although we will do our best to protect
  your personal data, we cannot guarantee the security of your data
  transmitted to our site; any transmission is at your own risk. Once
  we have received your information, we will use strict procedures and
  security features to try to prevent unauthorised access.</p>

  <h3>YOUR RIGHTS</h3>

  <p>You have the right to ask in writing for a copy of the
  information we hold about you (for which we may charge a maximum fee
  of €6.35) and also to correct any inaccuracies in your
  information.</p>

  <p>All queries should be addressed to:</p>

  <p class="indented">
    Customer Services<br />
    Airlift<br />
    Unit 6.022<br />
    2 Waterloo Road<br />
    Dublin 4<br />
    Another Universe
  </p>

  <h3>CHANGES TO PRIVACY STATEMENT</h3>

  <p>Our Privacy Statement may change from time to time and any
  changes to the statement will be posted on this page.</p>
