<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>To reset your password, please copy or click the link below.</p>

    <%= edit_password_reset_url(@user.password_reset_token) %>

    <p>If you did not attempt to reset your password, please disregard this email.</p>
  </body>
</html>
