<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello <%= @user.full_name %>!</h1>
    <p>
      Your store, <%= @supplier.name %>, has received a request! Please log onto
      www.airlift.herokuapp.com to see this request.
    </p>

    <p>Thank you and have a great day!</p>
  </body>
</html>
