<div class="col-md-2">
  <div class="list-group" id='sidebar-padding'>
    <% categories.each do |category| %>
        <a href="#<%= category.name %>" class='btn btn-default list-group-item'><%= category.name %></a>
    <% end %>
  </div>
</div>
