<div class="col-md-2">
  <div class="list-group" id='sidebar-padding'>
    <% categories.each do |category| %>
      <a href="#<%= category.name %>" class='btn list-group-item sidebar-button'><%= category.name %></a>
    <% end %>
  </div>
</div>
