<div class="col-md-2">
  <div class="btn-group-vertical" id='sidebar-padding'>
    <% categories.each do |category| %>
        <a href="#<%= category.name %>" class='btn btn-default'><%= category.name %></a>
    <% end %>
  </div>
</div>
