<div class="jumbotron homepage">
  <h1></h1>
  <p>Getting disaster relief supplies to the people who need it.</p>
  <p><%= link_to 'See All Items', items_path, class: "btn btn-primary btn-lg" %>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>Suppliers Near You</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      Image
      <div class="caption">
        <h3>Supplier Name</h3>
        <p>Supplier Description</p>
        <p>Supplier Location</p>
      </div>
    </div>
  </div>
</div>
