<div class="jumbotron homepage">
  <h1>Airlift</h1>
  <p>Getting disaster relief supplies to the people who need it.</p>
  <p><a class="btn btn-primary btn-lg" role="button">See More</a></p>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>Suppliers Near You</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="thumbnail">
      Image
      <div class="caption">
        <h3>Supplier Name</h3>
        <p>Supplier Description</p>
        <p>Supplier Location</p>
      </div>
    </div>
  </div>
</div>
