<br/>
<div class="content-wrapper formStyle custom-box">
  <h1>Editing: <%= @item.title %></h1>
  <%= render 'edit_form' %>

  <div>
    <%# link_to 'Back to All Items', supplier_items_path %>
  </div>
</div>
