<h1>Order Details:</h1>
<table class='table'>
  <thead>
    <tr>
      <th>Item:</th>
      <th>Price:</th>
      <th>Quantity:</th>
      <th>Item Total:</th>
    </tr>
  </thead>

  <tbody>
    <% @cart.items.each do |item| %>
      <tr>
        <td><%= link_to item.title, item_path(item) %></td>
        <td><%= item.format_price %></td>

      </tr>
    <% end %>
  </tbody>
</table>
  <%= link_to 'Continue to Checkout', new_order_path,  class: "btn btn-primary" %>

</div>
