//= require bootstrap
//= require custom

#sidebar-padding {
  padding-right: 30px;
  position:fixed;
  top:20%;
  width:15%;
}

.align-to-sidebar {
  padding-left:210px;
}

.details-link {
  cursor: pointer;
}

/*.background-theme {
  background:#eee;
}

.navbar-background {
  background:#425fb2;
}*/
