.homepage{
  background-image: url("helicopter_save.jpg");
  background-size: cover;
  color: white;
}


.navbar-right {
  padding-right: 12px;
}

.airlift-logo {
  position: relative;
  top: -15px;
  left: 10px;
  background:transparent;
}
