<% @suppliers.each_slice(4) do |slice| %>
  <div class="row">
    <% slice.each do |supplier| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <div class="caption">
            <h3><%= link_to supplier.name, supplier_path(supplier) %></h3>
            <p>...</p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
