<% @suppliers.each do |supplier| %>
  <div class="row">
    <div class="col-md-3">
      <%= image_tag supplier.picture.url(:thumb), :size => '32x32', :class => "img-rounded" %>
      <h3><%= link_to supplier.name, supplier_path(supplier) %></h3>
    </div>
<% end %>
