<h1 align='center'>
  <%= image_tag @supplier.picture.url(:thumb), :class => "img-rounded" %>
  <a class='description-link'><%= @supplier.name %></a>
</h1>
<p class='description-dropdown hidden' align='center'><%= @supplier.description %></p>
<% content_for(:title, @supplier.name) %>
<%= render partial: 'shared/items', locals: { categories: @categories } %>
