<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Airlift, <%= @user.full_name %>!</h1>
    <p>
      You have been approved as a supplier for disaster relief suppliers.
      Your supplier name is: <%= @user.supplier.name %>.<br>
      Your custom url is: www.airlift.herokuapp.com/suppliers/<%= @user.supplier.url %>
    </p>
    <p>You can now login, add items, manage orders, and add other administrators.</p>

    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
